@charset "utf-8";
/* CSS Document */
h1{color: blue;text-align: center}
#jiaozi{
vertical-align:middle;
font-size:25px;
}
.choice{float:left;width:49%;border:1px solid #F00}
.info{float:left;width:49%;border:1px solid #F00}
body{background: #F3DB03}